@media (max-width: 1910px) {
    ul.tabs li {
        padding-right: 60px !important;
    }

    .numberstat_cards_wrpr {
        flex-wrap: wrap;
    }

    .main-content .numberstat_cards_wrpr .numberstat_card_item {
        width: calc(33.333333% - 12px);
        min-width: 0;
    }

    .module-card.module-card_2 {
        display: flex;
        flex-wrap: wrap;
    }

    .module-card.module-card_2 .card.card_3 {
        max-width: none;
        min-width: 0;
        width: calc(33.333333% - 16px);
        margin-right: 24px;
    }

    .module-card.module-card_2 .card.card_3:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 1860px) {
    .table_utilization {
        display: block;
    }

    .table_utilization .in-progress {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .table_utilization:before {
        width: 100%;
    }

    .table_utilization .left {
        padding-left: 0;
    }

    .body-box .wrapper {
        display: block;
    }

    .module-box .percentage {
        margin: 20px 0 20px 0;
    }

    .module-card {
        display: block;
        overflow-x: visible;
    }

    .module-card .card {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .module-card .card .wrap_top {
        justify-content: space-between;
    }

    .table_load thead tr:nth-child(1) td {
        padding: 0 0 0 16px;
    }
}

/*@media (min-width: 1200px) and (max-width: 1860px) {*/
/*    .tabs .tab-header {*/
/*        display: block;*/
/*    }*/

/*    .tabs .tab-header li {*/
/*        clip-path: none;*/
/*        border-radius: 0;*/
/*    }*/

/*    .tabs .tab-header li:nth-child(n+2) {*/
/*        margin-left: 0;*/
/*    }*/

/*    .tabs_2 .tab-content__item.active {*/
/*        border-radius: 0px 0 16px 16px;*/
/*    }*/
/*}*/

@media (min-width: 1400px) and (max-width: 1860px) {
    .tabs_2 .table_data_center tr td:nth-child(2), .wrap_table_box .wrap_table_data_center .table_data_center tr td:nth-child(2) {
        white-space: normal;
    }
}

@media (max-width: 1400px) {
    .radio_green_btns_wrpr.devices_block {
        flex-wrap: wrap;
    }

    .radio_green_btns_wrpr.devices_block .radio_green_btn {
        width: auto;
        margin-bottom: 24px;
    }

    .top_notification .center_text {
        position: initial;
        transform: none;
        left: auto;
        margin-left: 0;
    }

    .main-content.w_notif {
        padding-top: calc(24px + 155.6px);
    }
}

@media (min-width: 991px) and (max-width: 1400px) {
    .fieldset_2 .col_3 {
        width: 100%;
    }

    .card-info .form-control {
        max-width: none;
    }

    .cols_inputs_wrpr {
        flex-wrap: wrap;
    }

    .fieldset_2 .wrap_radio_btn {
        margin-left: 0;
    }
}

@media (max-width: 1600px) {

    ul.tabs li {
        padding-right: 20px !important;
        font-size: 17px;
    }

    .table_utilization .row_devices .item:nth-child(1) {
        min-width: 132px;
    }

    .table_utilization .left {
        overflow-x: hidden;
    }

    .col-63, .col-37 {
        width: 50%;
    }

    .row.m_t_45 .col-20, .row.m_t_45 .col-80 {
        width: 100%;
    }

    .row.m_t_45 {
        flex-direction: column;
    }

    .box_diagram {
        margin-bottom: 24px;
    }
}

@media (min-width: 1199px) and (max-width: 1600px) {
    .graphic_card_box_3 .legend {
        display: block;
        margin-bottom: 19px;
    }
}

@media (max-width: 1199px) {

    .recently_opened_item {
        width: calc(50% - 12px);
    }

    .top_notification {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-content.w_notif {
        padding-top: calc(24px + 162px);
    }

    .top_notification .right_btns .btn:nth-child(1) {
        margin-left: 0;
    }

    .top_notification .right_btns {
        margin-left: 0;
    }

    .operations_new_report.with_menu .right_menu {
        width: auto;
        padding-bottom: 24px;
        border-bottom: 1px solid #ADC1DB;
        border-left: none;
    }

    .operations_new_report.with_menu .left_side.w_100 {
        padding: 15px;
    }

    .operations_new_report.with_menu {
        flex-direction: column-reverse !important;
    }

    .module-card.module-card_2 .card.card_3 {
        width: calc(50% - 12px);
    }

    .module-card.module-card_2 .card.card_3:nth-child(2n) {
        margin-right: 0;
    }

    .module-card.module-card_2 .card.card_3:nth-child(3n) {
        margin-right: 24px;
    }

    .main-content .numberstat_cards_wrpr .numberstat_card_item {
        width: calc(50% - 12px);
    }

    .graphic_cards_wrpr {
        display: block;
        margin: 0;
    }

    .graphic_card_box {
        width: 100%;
        margin: 0 0 12px 0;
    }

    .realign {
        display: none;
    }

    .wrapper_tabs ul.tabs li {
        font-size: 17px;
        padding-bottom: 6px;
    }

    .col-50, .col-40, .col-60 {
        width: 100%;
    }

    .row {
        display: block;
    }

    .col-63, .col-37 {
        width: 100%;
    }
}

@media (max-width: 991px) {

    .recently_opened_item {
        width: calc(33.33333% - 12px);
    }

    .system_info_cards_topology .numberstat_cards_wrpr .numberstat_card_item {
        width: 100%;
    }

    .system_info_popup {
        right: 0;
        width: 100%;
    }

    .left-sidebar .sidebar-navigation {
        right: -316px;
        position: fixed;
        width: 316px;
        z-index: 999;
        transition: .3s;
    }

    .left-sidebar .sidebar-panel {
        height: 100vh;
    }

    .left-sidebar {
        width: auto;
    }

    .main-content {
        width: 100%;
    }

    .top-nav .menu_mobile {
        display: block;
    }

    .main-content {
        padding: 15px;
    }
}

@media (max-width: 767px) {

    .group_inputs_with_radio .cols_inputs_wrpr {
        margin-left: 0;
    }

    .fieldset legend {
        font-size: 17px;
    }

    .operations_new_report.card-info.with_menu {
        padding: 15px;
    }

    .alert_notif_item .item_body {
        flex-direction: column;
    }

    .alerts_notifications {
        padding: 15px;
        width: calc(100% - 56px);
    }

    .sites_map {
        flex-direction: column;
    }

    .sites_map .sites_table_wrpr {
        width: 100%;
    }

    .maps div#map {
        width: auto;
        height: 500px;
    }

    .sites_map .maps {
        width: auto;
        height: auto;
        margin-bottom: 15px;
    }

    .search_input_form {
        min-width: 0;
        width: 100%;
    }

    .recently_opened_item {
        width: calc(50% - 12px);
    }

    .main-content.w_notif {
        padding-top: calc(24px + 198.8px);
    }

    .top_notification .center_text {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .top_notification .center_text .days {
        margin-right: 0;
    }

    .fieldset_2 .col_3 {
        width: 100%;
    }

    .card-info .form-control {
        max-width: none;
    }

    .cols_inputs_wrpr {
        flex-wrap: wrap;
    }

    .fieldset_2 .wrap_radio_btn {
        margin-left: 0;
    }

    .fieldset {
        max-width: none;
    }

    .fieldset {
        padding: 15px;
        padding-top: 15px;
    }

    .module-card.module-card_2 {
        margin-bottom: 24px;
    }

    .top_section {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter_box {
        margin-top: 15px;
        flex-wrap: wrap;
        width: 100%;
    }

    .filter_box li {
        width: 100%;
        margin-bottom: 5px;
    }

    .filter_box li a {
        display: block;
    }

    .module-card.module-card_2 .left {
        margin-right: 0;
    }

    .module-card.module-card_2 .card.card_3 {
        width: 100%;
        margin-right: 0;
    }

    .add_new_map {
        margin-left: 0;
        margin-top: 15px;
    }

    .map-box {
        margin-top: 24px;
    }

    .tabs .tab-header {
        overflow-x: visible;
    }

    .module-box.module-box_2 .graphic_card_box_100 .graphic_wrpr {
        margin-top: 50px;
    }

    .system_info_cards_topology {
        flex-direction: column;
    }

    .system_info_cards_topology .mini_topology_map {
        width: 100%;
        margin-top: 24px;
    }

    .main-content .numberstat_cards_wrpr .numberstat_card_item {
        width: 100%;
    }

    .module-box .header-box:not(.header-box_popap) {
        flex-direction: column;
        align-items: flex-start;
    }

    .module-box .header-box:not(.header-box_popap) .wrapper_icon {
        margin-top: 15px;
    }

    .wrapper_icon.wrapper_icon_2 a {
        margin-right: 15px;
    }

    .numberstat_card_item .item_title {
        font-size: 17px;
    }

    .table-bottom-control {
        flex-direction: column;
    }

    .display-setting {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .graphic_popup .wrap_item .col_3 {
        width: 50%;
    }

    .graphic_popup .wrap_item .chart img {
        width: 100%;
    }

    .graphic_item {
        flex-direction: column;
    }

    .graphic_item .graphic_history {
        width: auto;
    }

    .module-card .card.card_1 {
        flex-direction: column;
    }

    .chart img {
        width: auto;
    }

    .module-card .left {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .module-card .card .wrap_bottom .time {
        font-size: 30px;
    }

    .module-card .card {
        padding: 15px;
    }

    .wrapper_tabs ul.tabs {
        display: block;
    }

    .wrapper_tabs ul.tabs li {
        padding-left: 0;
    }

    .wrapper_tabs ul.tabs li.current, .wrapper_tabs ul.tabs li:hover {
        border: none;
    }

    .module-table {
        overflow-x: auto;
    }

    .module-table .right {
        padding-right: 16px;
    }

    .module-box .header-box .title {
        font-size: 15px;
        line-height: 21px;
    }

    .module-box .header-box .title span {
        margin-left: 0;
        display: block;
    }

    .module-box .header-box .title span:before {
        content: none;
    }

    .module-box {
        margin-bottom: 16px;
    }

    .device_table.device_table_3 tr td .title {
        font-size: 14px;
        line-height: 21px;
    }

    .big_breadcrumbs li {
        font-size: 22px;
    }

    .breadcrumbs .pag-item {
        width: 20px;
        min-width: 20px;
        height: 20px;
    }

    .tabs .tab-header {
        display: block;
    }

    .tabs .tab-header li {
        clip-path: none;
        border-radius: 0;
    }

    .tabs .tab-header li:nth-child(n+2) {
        margin-left: 0;
    }

    .tabs_2 .tab-content__item.active {
        border-radius: 0px 0 16px 16px;
    }

    .sites_map .table tbody td {
        white-space: nowrap;
    }

    .big_breadcrumbs li a:after {
        margin: 0 5px;
    }

    .fieldset_2 .form-control .circle_radio_btn {
        white-space: normal;
    }

    .linked_icon {
        margin-top: 15px;
    }

    .wrap_big_breadcrumbs .wrapper_icon {
        position: static;
    }

    .wrap_big_breadcrumbs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .wrap_big_breadcrumbs .big_breadcrumbs {
        margin-bottom: 0;
    }

    .graphic_item .graphic_body .graphic_wrpr {
        padding-top: 60px;
    }

    .table_utilization .left {
        overflow-x: auto;
    }

    .purple_table_wrpr .table_controls .table_filter_btn {
        margin-right: 20px;
    }
}

@media (max-width: 575px) {

    .sign-up-bottom-links span, .sign-in-bottom-links span {
        display: none;
    }

    .sign-up-bottom-links, .sign-in-bottom-links {
        flex-direction: column;
    }

    .sign-in-bottom-links p {
        margin-bottom: 3px;
    }

    .alert_notif_item .item_header {
        flex-direction: column;
        align-items: flex-start;
    }

    .alert_notif_item .allerts_message {
        margin-bottom: 5px;
    }

    .control-details {
        flex-direction: column;
        align-items: flex-start;
    }

    .control-details .control {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 4px;
        border: 1px solid #D9D9D9;
    }

    .control-details .details-field {
        width: 100%;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
    }

    .popup {
        min-width: 0;
        padding: 20px;
    }

    .recently_opened_item {
        width: 100%;
    }

    .main-content.w_notif {
        padding-top: calc(24px + 268.8px);
    }

    .right_btns {
        flex-direction: column;
    }

    .top_notification .right_btns .btn {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .radio_green_btn .radio_green_inner {
        padding: 7px;
        font-size: 16px;
    }

    .btns-wrap a:first-child {
        margin-right: 0 !important;
        margin-bottom: 15px;
    }

    .radio_green_btns_wrpr.devices_block .radio_green_btn {
        width: 100%;
        margin-right: 0;
    }

    .row_cols_info {
        margin-bottom: 0;
    }

    .row_cols_info .col {
        width: 50%;
        margin-bottom: 24px;
    }

    .breadcrumbs {
        width: 250px;
        overflow-x: auto;
        padding: 0 0 10px 0;
    }

    .graphic_popup .wrap_item .col_3 {
        width: 100%;
    }

    .module-table, .device_table {
        width: 475px;
    }

    .wrapper_tabs {
        display: block;
        margin-bottom: 20px;
        border: none;
    }

    .wrapper_tabs ul.tabs {
        margin-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .breadcrumbs {
        width: 197px;
    }

    .graphic_card_box_3 .graphic_header {
        flex-direction: column;
        align-items: flex-start;
    }

    .graphic_card_box_3 .graphic_header .price {
        font-size: 20px;
    }
}
