body {
    padding-top: 90px;
}
.header {
    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(89, 0, 10, 0.03);
    height: 90px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_right {
    display: flex;
    align-items: center;
}
.header_nav ul {
    display: flex;
    align-items: center;
}
.header_nav ul li {
    margin-right: 25px;
}
.header_nav ul li:last-child {
    margin-right: 0;
}
.header_nav ul li a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #877070;
}
.header_nav ul li a:hover {
    color: #C52033;
}
.btn {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border: 0;
    padding: 15px 20px;
    background: #C52033;
    background-size: cover;
    border-radius: 30px;
    display: inline-block;
}
.btn:hover {
    color: #C52033;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}
.sign_in_link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #C52033;
    margin-left: 68px;
    margin-right: 25px;
}
.sign_in_link:hover {
    color: #877070;
}
.s_welcome {
    background: #F9F7F7;
    padding-top: 89px;
    overflow: hidden;
}
.h1_title {
    font-weight: bold;
    font-size: 66px;
    line-height: 70px;
    color: #C52033;
}
.simple_p,
.simple_p_light {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #877070;
}
.simple_p_light {
    color: #BCAFAF;
}
.s_welcome .cols_wrpr {
    display: flex;
    flex-wrap: wrap;
}
.s_welcome .cols_wrpr .left {
    width: 50%;
    padding-bottom: 69px;
    animation: 1s slide_to_right;
}
.s_welcome .cols_wrpr .right {
    width: 50%;
    position: relative;
}
.s_welcome .h1_title {
    max-width: 462px;
}
.s_welcome_doctor {
    position: absolute;
    bottom: 0;
    right: 60px;
    z-index: 2;
    animation: 2s slide_to_left; 
}
.s_welcome_vector_element {
    position: absolute;
    left: -25px;
    bottom: 0;
    z-index: 1;
    animation: 3s slide_to_right; 
}
@keyframes slide_to_left { 
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide_to_right { 
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.s_welcome .cols_wrpr .left .h1_title {
    margin-bottom: 11px;
}
.s_welcome .cols_wrpr .left .simple_p {
    margin-bottom: 71px;
    max-width: 421px;
}
.download_form {
    display: flex;
    align-items: center;
    max-width: 524px;
    margin-bottom: 29px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}
.dwnld_form_input {
    background: #fff;
    border-radius: 4px 0px 0px 4px;
    padding: 15px 20px;
    border: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #877070;
    display: block;
    width: 100%;
    flex: 1;
}
.dwnld_form_input::placeholder {
    color: #C4C4C4;
}
.dwnld_form_btn {
    background: #C52033;
    border-radius: 0px 4px 4px 0px;
    padding: 15px 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    border: 0;
    background: #C52033 url(../img/btn_zebra_bg.jpg) center no-repeat;
    background-position: 0px 70px;
    background-size: cover;
}
.dwnld_form_btn:hover {
    background-position: 0px 0px;
}
.s_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #282424;
}
.s_intro {
    margin-bottom: 50px;
}
.s_intro .s_title {
    max-width: 638px;
    margin-bottom: 10px;
}
.s_intro .simple_p {
    max-width: 638px;
}
.s_what_leading {
    padding-top: 60px;
}
.s_what_leading .s_intro .s_title {
    max-width: 350px;
}
.s_what_leading .s_intro .simple_p  {
    max-width: 524px;
}
.video_slider .slick-list {
    margin: 0 -10px;
}
.video_item {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
}
.video_slider .video_item {
    margin: 0 10px;
}
.video_item::before {
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    left: 0;
    top: 0;
    position: absolute;
}
.video_item .item_title {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 12px;
    left: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}
.video_item .overlay_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play_btn {
    width: 51px;
    height: 51px;
    display: block;
    cursor: pointer;
    background: url(../img/play_btn.svg) no-repeat center;
    background-size: contain;
}
.video_item .play_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.video_item .play_btn:hover {
    transform: translate(-50%, -50%) scale(1.2);
}
.slick-dots {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.slider_dot {
    width: 8px;
    height: 8px;
    display: block;
    background: #EAEAEA;
    border-radius: 15px;
    margin: 0 6.5px;
    transition: 0.15s all ease-in-out;
    cursor: pointer;
}
.slider_dot:hover {
    background: #C52033;
}
.slick-active .slider_dot {
    width: 30px;
}
.slider_arrow {
    position: absolute;
    top: 50%;
    margin-top: -23.5px;
    display: block;
    width: 47px;
    height: 47px;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    z-index: 3;
}
.slider_arrow:hover {
    opacity: 0.6;
    transform: scale(1.1);
}
.arrow_prev {
    left: -24px;
    background: #fff url(../img/slider_arrow_left.svg) no-repeat center;
}
.arrow_next {
    right: -24px;
    background: #fff url(../img/slider_arrow_right.svg) no-repeat center;
}
.video_slider .slider_arrow {
    margin-top: -40px;
}
.s_intro_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn_zebra {
    background: #C52033 url(../img/btn_zebra_bg.jpg) repeat-x center;
    background-size: cover;
}
.btn_zebra:hover {
    color: #fff;
    background: #C52033 url(../img/btn_zebra_bg.jpg) center;
    background-position: 100px 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1)
}
.s_patient_journey {
    padding-top: 82px;
}
.card_icon_wrpr {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.card_icon_item {
    width: calc(20% - 20px);
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px;
    padding-right: 19px;
    position: relative;
}
.card_icon_item .icon_wrpr {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 19px;
}
.card_icon_item .item_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.card_icon_item .item_header_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
}
.card_icon_item .item_header.red .icon_wrpr {
    background: #C52033;
}
.card_icon_item .item_header.blue .icon_wrpr {
    background: #1A84E7;
}
.card_icon_item .item_header.purple .icon_wrpr {
    background: #8D1AE7;
}
.card_icon_item .item_header.pink .icon_wrpr {
    background: #FC22A5;
}
.card_icon_item .item_header.turquoise .icon_wrpr {
    background: #1EDDC6;
}
.card_icon_item .item_header.red .item_header_title {
    color: #C52033;
}
.card_icon_item .item_header.blue .item_header_title {
    color: #1A84E7;
}
.card_icon_item .item_header.purple .item_header_title {
    color: #8D1AE7;
}
.card_icon_item .item_header.pink .item_header_title {
    color: #FC22A5;
}
.card_icon_item .item_header.turquoise .item_header_title {
    color: #1EDDC6;
}
.card_icon_item .text_wrpr .item_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #877070;
}
.card_icon_item .text_wrpr p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #877070;
}
.s_patient_journey .after_cards_text {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.s_patient_journey .after_cards_text span {
    width: calc(40% - 10px);
    margin-left: auto;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #DBD5D5;
}
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(1):after,
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(2):after, 
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(3):after, 
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(4):after,
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(4):before  {
    content: "";
    display: block;
    position: absolute;
    right: -28px;
    top: 50%;
    margin-top: -17.5px;
    width: 35px;
    height: 35px;
    background: #fff url(../img/simple_arrow_right.svg) no-repeat center;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    z-index: 3;
}
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(4):after {
    margin-top: -35px
}
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(4):before {
    transform: rotate(180deg);
    margin-top: 10px;
}
.s_proven_dental {
    padding-top: 115px;
    padding-bottom: 100px;
    background: url(../img/proven_dental_bg.svg) no-repeat;
    background-position: 85% 32px;
}
.light_list {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #877070;
}
.light_list li {
    position: relative;
    padding-left: 9px;
}
.light_list li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 9px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #877070;
}
.sidebar_form {
    padding: 30px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    background: url(../img/sidebar_form_bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}
.sidebar_form .sidebar_form_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 30px;
}
.form_group {
    margin-bottom: 20px;
}
.input_text {
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 15px 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    border: 0;
}
.input_text::placeholder {
    color: #BEB8B8;
}
.btn_black {
    background: #1F1F1F;
}
.checkbox_btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}
.checkbox_btn input {
    display: none;
}
.checkbox_btn .checkbox_check {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 20px;
    position: relative;
}
.checkbox_btn input:checked~.checkbox_check:after {
    position: absolute;
    left: 5px;
    top: 7px;
    display: block;
    content: "";
    width: 20px;
    height: 10px;
    border-left: 3px solid #C52033;
    border-bottom: 3px solid #C52033;
    transform: rotate(-45deg);
}
.mob_menu_btn {
    display: none;
}
body.menu_open {
    overflow: hidden;
}
.for_mob {
    display: none;
}
.s_with_video .btn_wrpr {
    display: flex;
    align-items: center;
}
.s_with_video .btn_wrpr .btn {
    white-space: nowrap;
}
.s_with_video .btn_wrpr .grey_text {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #DBD5D5;
    margin-bottom: 0;
    margin-left: 30px;
}
.s_with_video {
    padding: 37px 0 41px;
}
.dark_cards_wrpr {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.dark_card_item {
    min-height: 402px;
    background: #474747;
    border-radius: 4px;
    width: calc(50% - 20px);
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.dark_card_item .left {
    padding-left: 40px;
    width: 55%;
}
.dark_card_item .right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 45%;
}
.dark_card_item .right.pad_rght {
    padding-right: 35px;
}
.dark_card_item .item_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #fff;
    margin: 20px 0;
}
.s_dark_cards {
    padding-bottom: 63px;
}
.s_dark_cards.dentl_marktng_page,
.s_dark_cards.direct_mail_page {
    background-image: url(../img/client-case-bg.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
.s_dark_cards.dentl_marktng_page .s_intro .s_title {
    max-width: 400px;
}
.s_dark_cards.direct_mail_page .s_intro .s_title {
    max-width: 450px;
}
.s_blog {
    padding: 40px 0 60px;
}
.blog_category_wrpr {
    margin-bottom: 50px;
}
.blog_category_wrpr .s_title {
    margin-bottom: 21px;
}
.blog_items_wrpr {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.blog_item {
    border: 1px solid #F1EFEF;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    width: calc(25% - 20px);
}
.blog_item .img_wrpr {
    display: flex;
    width: 100%;
    padding-top: 65.4%;
    position: relative;
    overflow: hidden;
}
.blog_item .img_wrpr img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.3s all ease-in-out;
}
.blog_item .img_wrpr:hover img {
    transform: scale(1.2);
}
.blog_item .item_bottom_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 255px;
}
.blog_item .item_title {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #282424;
    margin-bottom: 10px;
}
.blog_item .item_title:hover {
    color: #C52033;
}
.blog_item_soc {
    display: flex;
    align-items: center;
    margin-top: auto;
}
.blog_item_soc li {
    margin-right: 10px;
}
.blog_item_soc li:last-child {
    margin-right: 0;
}
.blog_item_soc a {
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid #F1EFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
}
.blog_item_soc a svg path {
    fill: #C52033;
}
.blog_item_soc a:hover {
    background: #C52033;
    border-color: #C52033;
}
.blog_item_soc a:hover svg path {
    fill: #fff;
}
.blog_item .author_date_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.blog_item .author_date_info span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #877070;
}
.blog_item .author_date_info span b {
    font-weight: 600;
}
.search_filter_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search_filter_line .s_title {
    margin-bottom: 0;
}
.search_filter_line .inputs_wrpr {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
    margin-left: 38px;
}
.search_input_wrpr {
    width: 100%;
}
.search_input_wrpr .form-control {
    padding-left: 50px;
    background: url(../img/search_icon.svg) no-repeat;
    background-position: 20px 15px;
}
.search_filter_line .search_input_wrpr  {
    margin-right: 20px;
}
.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #E7E1E1;
    width: 100%;
    border-radius: 4px;
    padding: 15px 20px;
    color: #877070;
    font-size: 18px;
    font-family: inherit;
    outline: none;
    background: #fff url(../img/arrow_down.svg) no-repeat;
    background-position: calc(100% - 25px) 24px;
    display: block;
    width: 100%;
}
.search_filter_line .inputs_wrpr .select {
    max-width: 169px;
}
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
}
.pagination ul {
    display: flex;
    align-items: center;
}
.pagination ul li {
    margin-left: 15px;
}
.pagination ul li .last_paging {
    margin-left: 15px
}
.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 49px;
    min-height: 49px;
    border: 1px solid #C52033;
    color: #C52033;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-radius: 35px;
}
.pagination a.btn_w_arrow {
    padding: 0 20px;
}
.prev_paging svg {
    margin-right: 13px;
    margin-top: -2px;
}
.next_paging svg {
    margin-left: 15px;
    margin-top: -2px;
}
.pagination a.red {
    background: #C52033;
    color: #fff;
}
.pagination a.red svg path {
    fill: #fff;
}
.pagination a:hover {
    background: #C52033;
    color: #fff;
}
.pagination a:hover svg path {
    fill: #fff;
}
.pagination a.red:hover {
    background: #fff;
    color: #C52033;
}
.pagination a.red:hover svg path {
    fill: #C52033;
}
.intro_w_back {
    padding: 39px 0;
    display: flex;
    align-items: flex-start;
}
.back_btn {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #282424;
    display: flex;
    align-items: center;
}
.back_btn svg {
    margin-right: 13px;
    margin-top: -2px;
}
.back_btn svg path {
    fill: #282424;
}
.back_btn:hover {
    color: #C52033;
}
.back_btn:hover svg path {
    fill: #C52033;
}
.post_author_info {
    display: flex;
    align-items: center;
}
.post_author_info .img_wrpr {
    min-width: 44px;
    min-height: 44px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
}
.post_author_info .img_wrpr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post_author_info .text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #877070;
}
.intro_w_back .back_btn {
    margin-top: 11px;
    width: 100px;
}
.intro_w_back .s_title {
    margin-top: 21px;
}
.wide_img_wrpr {
    width: 100%;
    margin-bottom: 60px;
}
.wide_img_wrpr img {
    width: 100%;
}
.s_grey_outro {
    background: #FBFBFB;
    padding: 58px 0;
}
.s_grey_outro h3 {
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    color: #282424;
    text-align: center;
    max-width: 912px;
    margin: 0 auto;
}
.two-col.img_bottom {
    align-items: flex-end;
}
.blog_post_content img {
    border-radius: 4px;
}
.blog_post_content .two-col .col p {
    margin-bottom: 30px;
}
.blog_post_content .two-col .col p:last-child {
    margin-bottom: 0;
}
.blog_post_content .two-col .s_title {
    margin-bottom: 20px;
}
.blog_post_content {
    margin-bottom: 65px;
}
.title_w_back {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.title_w_back .back_btn {
    margin-top: 10px;
}
.s_intro .title_w_back .s_title {
    margin-bottom: 0;
    margin-left: 30px;
}
.flex_start .container {
    align-items: flex-start;
}
.text_box {
    margin-top: 60px;
}
.text_box .s_title {
    margin-bottom: 20px;
}
.text_box .s_title:not(:first-child) {
    padding-top: 30px;
}
.imgs_slider .slider_arrow {
    margin-top: -31.5px;
}
.s-experts-about p.mb_0 {
    margin-bottom: 0;
}
.imgs_slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ie .box_text {
    display: none;
}
.ie .dark_card_item {
    overflow: hidden;
}

.ie .marketing_team .row,
.ie .marketing_consultants .row,
.ie .account_success_managers .row,
.ie .about_our_team .row {
    flex-wrap: wrap;
}
.ie .pagination a.btn_w_arrow,
.ie .pagination a {
    padding-top: 14px;
}
.ie .blog_item .item_bottom_content {
    position: relative;
}
.ie .blog_item_soc {
    position: absolute;
    bottom: 20px;
}
.ie .s_intro .title_w_back .s_title {
    flex: 1;
}

p {
    font-size: 18px;
    line-height: 30px;
    color: #877070;
}

img {
    vertical-align: middle;
}

.row p {
    margin-bottom: 30px;
}

.row p:last-child {
    margin-bottom: 0;
}

.about_us {
    padding: 40px 0 80px;
}

.our_history, .our_community {
    position: relative;
}

.our_history:before {
    content: '';
    background: url("../img/our_history_spot.svg") no-repeat;
    position: absolute;
    width: 519.29px;
    height: 490.01px;
    top: 268px;
    right: 205px;
    z-index: -1;
}

.our_community:before {
    content: '';
    background: url("../img/our_community_spot.svg") no-repeat;
    position: absolute;
    width: 536px;
    height: 513px;
    top: 525px;
    right: -574px;
    z-index: -1;
}


.environmental_commitment {
    margin: 50px 0;
}

.certified {
    margin-bottom: 50px;
}

.environmental_commitment .wrap_small_img {
    margin: 0;
}

.about_us .wrap_image {
    position: relative;
}

.wrap_image_full_width {
    margin: 60px 0;
}

.wrap_small_img {
    margin: 55px 0;
}

.about_us .wrap_image img {
    border-radius: 4px;
}

.list li {
    font-size: 18px;
    line-height: 30px;
    color: #877070;
    position: relative;
    padding-left: 15px;
}

.list li:before {
    content: '';
    position: absolute;
    top: 12.5px;
    left: 0;
    width: 5px;
    height: 5px;
    background: #877070;
    border-radius: 50%;
}

.about_us .wrap_image:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    border-radius: 4px;
}

.about_us .wrap_image .text {
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 9;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

/*grid*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.ie .row {
    flex-wrap: nowrap;
}

.column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    padding-right: 10px;
    padding-left: 10px;
}

.col-1 {
    max-width: calc(100% / 12);
}

.col-2 {
    max-width: calc(100% / 12 * 2);
}

.col-3 {
    max-width: calc(100% / 12 * 3);
}

.col-4 {
    max-width: calc(100% / 12 * 4);
}

.col-5 {
    max-width: calc(100% / 12 * 5);
}

.col-6 {
    max-width: calc(100% / 2);
}


@media screen and (max-width: 768px) {
    .column {
        min-width: 100%;
        width: 100%;
    }
}


.navbar {
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    pointer-events: none;
}

.navbar .nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar .nav-menu li {
    position: relative;
}

.navbar .nav-menu li .dot {
    display: block;
    color: #fff;
    padding: 20px 0;
}

.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    top: 50%;
    transition: all .3s ease;
}

.navbar .nav-menu li .dot::before {
    width: 10px;
    height: 10px;
    right: 0;
    background: #877070;
    transform: translateY(-50%);
}

.navbar .nav-menu li .dot::after {
    width: 10px;
    height: 10px;
    border: 1px solid #877070;
    right: 0;
    transform: translateY(-50%) scale(0);
}

.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before {
    background: transparent;
    border-color: #f44336;
}

.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {
    transform: translateY(-50%) scale(1);
}

.navbar .nav-menu li .dot span {
    display: inline-block;
    opacity: 0;
    transition: all .3s ease;
    transform: rotate(270deg);
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #877070;
    position: fixed;
    top: -58px;
    right: -31px;
}

.navbar .nav-menu li .dot.active span,
.navbar .nav-menu li:hover .dot span {
    opacity: 1;
}

.box_text {
    z-index: 999;
    position: absolute;
    right: -2px;
    writing-mode: tb;
    transform: rotate(180deg);
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #877070;
    white-space: nowrap;
}

.marketing_team {
    padding: 40px 0 80px 0;
    position: relative;
}

.marketing_team:before {
    content: '';
    background: url("../img/marketing team_spot.svg") no-repeat;
    position: absolute;
    width: 615px;
    height: 435px;
    top: 45px;
    right: 131px;
    z-index: -1;
}

.module_title .s_title {
    margin-bottom: 21px;
}

.module_title_2 .s_title + p {
    margin-bottom: 35px;
}

.module_title_3 .s_title {
    max-width: 335px;
}

.card .card-body {
    padding: 20px 0 40px 0;
}

.card.card_2 {
    margin-top: 50px;
}

.card .card-image img {
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.card .card-body .name {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #282424;
    margin-bottom: 7px;
}

.card .card-body .position {
    font-size: 18px;
    line-height: 30px;
    color: #282424;
}

.card .card-body .mail {
    font-size: 18px;
    line-height: 30px;
    color: #877070;
}

.marketing_consultants {
    position: relative;
}

.marketing_consultants:before {
    content: '';
    background: url("../img/marketing_consultants_spot.svg") no-repeat;
    position: absolute;
    width: 623.23px;
    height: 390.99px;
    top: -75px;
    right: 127px;
    z-index: -1;
}

.account_success_managers {
    position: relative;
}

.account_success_managers:before {
    content: '';
    background: url("../img/account_success_managers_spot_2.svg") no-repeat;
    position: absolute;
    width: 604.52px;
    height: 410.86px;
    top: -39px;
    right: 169px;
    z-index: -1;
}

.account_success_managers:after {
    content: '';
    background: url("../img/account_success_managers_spot.svg") no-repeat;
    position: absolute;
    width: 943.67px;
    height: 379.59px;
    bottom: -14px;
    right: 20px;
    z-index: -1;
}

.d_a_w_g {
    padding-bottom: 27px;
}

.text_box .list {
    margin-bottom: 21px;
}

.list.list_no_before li {
    padding-left: 0;
}

.list.list_no_before li:before {
    content: none;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.edge .box_text {
    display: none;
}

.main-footer {
    background-color: #1F1F1F;
    border-top: 1px solid #2E2E2E;
}

.ft-top {
    padding: 60px 0 52px;
    border-bottom: 1px solid #2E2E2E;
}

.ft-logo-wrap {
    margin-right: 30px;
}

.ft-logo {
    display: flex;
}

.ft-top .container {
    display: flex;
    justify-content: space-between;
}

.ft-nav {
    display: flex;
}

.s-sitemap {
    padding: 50px 0;
    min-height: calc(100vh - 807px);
}

.s-sitemap ul {
    margin-bottom: 30px;
    margin-right: 80px;
}

.s-sitemap ul li {
    margin-bottom: 20px;
}

.s-sitemap ul li a:hover {
    color: #5f07b0;
}

.s-sitemap .container {
    display: flex;
    flex-wrap: wrap;
}

.ft-nav .nav-item {
    margin-right: 70px;
}

.ft-nav .nav-item li {
    margin-bottom: 5px;
}

.ft-nav .nav-item a {
    color: #959595;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    transition: 0.3s;
}

.ft-nav .nav-item a:hover {
    color: #c52033;
}

.main-footer h4 {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 15px;
}

.social-items ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -7.5px;
}

.social-items ul li {
    margin: 0 7.5px 15px;
}

.social-items ul li a {
    width: 45px;
    height: 45px;
    border: 1px solid #959595;
    border-radius: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.social-items ul li a:hover {
    background-color: #fff;
    border-color: #fff;
}

.social-items ul li a svg path {
    transition: 0.3s;
}

.social-items ul li a:hover svg path {
    fill: #C52033;
}

.ft-bottom {
    padding: 30px 0;
}

.ft-bottom .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ft-bottom ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -12.5px;
}

.ft-bottom ul li {
    margin: 0 12.5px;
}

.ft-bottom ul a {
    font-size: 18px;
    color: #959595;
    transition: 0.3s;
}

.ft-bottom ul a:hover {
    color: #c52033;
}

.copiright {
    color: #959595;
    font-size: 18px;
    margin-right: 69px;
}

.s-bottom {
    background-color: #1F1F1F;
    padding: 69px 0 0;
    position: relative;
}

.s-bottom .left {
    width: 60%;
}

.s-bottom .right {
    width: 40%;
    position: relative;
}

.s-bottom .container {
    display: flex;
}

.s-title {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    color: #ffffff;
}

.s-bottom p {
    color: #959595;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.s-bottom .s-title {
    max-width: 708px;
    width: 100%;
}

.s-bottom .text-wrap {
    max-width: 638px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 58px;
}

.s-bottom p strong {
    font-weight: 700;
}

.s-bottom p a {
    color: #959595;
    transition: 0.3s;
}

.s-bottom p a:hover {
    color: #c52033;
}

.s-bottom .btm-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.s-zebra {
    background-image: url(../img/zebra-bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    padding: 100px 0 96px;
}

.s-zebra::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.s-zebra .s-title {
    max-width: 449px;
    width: 100%;
    margin-bottom: 27px;
}

.s-zebra p {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 638px;
    width: 100%;
}

.s-zebra .btn-wrap {
    margin-top: 40px;
}

.s-experts-about {
    padding: 20px 0 115px;
}

.s-experts-about .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.s-experts-about .left,
.s-experts-about .right {
    width: calc(50% - 38px);
}

.s-experts-about p {
    margin-bottom: 30px;
}

.s-experts-about .s_intro {
    margin-bottom: 0;
}

.s-experts-about img {
    border-radius: 4px;
}

.s-small {
    background-color: #FAFAFA;
    padding: 28px 0 8px;
}

.s-small p {
    color: #877070;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0 20px 20px 20px;

}

.s-small .btn {
    margin-bottom: 20px;
}

.s-small .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.s-client-case {
    padding: 60px 0 64px;
}

.s-client-case .container {
    background-image: url(../img/client-case-bg.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.case-item {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.case-item p {
    color: #877070;
    font-size: 18px;
    line-height: 30px;
}

.case-item .client-about {
    display: flex;
    margin-top: 22px;
    align-items: center;
}

.case-item .client-about .img-wrap {
    min-width: 64px;
    max-width: 64px;
    height: 64px;
    display: flex;
    border-radius: 10em;
    overflow: hidden;
    margin-right: 20px;
}

.case-item .client-about h4 {
    color: #877070;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.case-item .client-about .post {
    display: block;
    color: #877070;
    font-size: 18px;
    line-height: 20px;
}

.case-slide .slide-item {
    margin: 10px;
}

.case-slide .arrow_prev {
    left: -13px;
}

.case-slide .arrow_next {
    right: -13px;
}

.s-practice-zebra {
    padding: 60px 0 40px;
}

.s-practice-zebra .left {
    width: 100%;
    padding-right: 35px;
    flex: 1;
}

.s-practice-zebra .right {
    width: 376px;
}

.s-practice-zebra p {
    font-size: 18px;
    color: #877070;
    line-height: 30px;
    margin-bottom: 30px;
}

.s-practice-zebra p+.s_title {
    margin-top: 70px;
}

.s-practice-zebra .s_title {
    margin-bottom: 10px;
}

.s-practice-zebra .s_title+img {
    margin-top: 27px;
}

.s-practice-zebra img+p {
    margin-top: 27px;
}

.s-practice-zebra img+.s_title {
    margin-top: 70px;
}

.two-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.two-col .col {
    width: calc(50% - 28px);
}

.two-col+img {
    margin-bottom: 60px;
}

.two-col .col p+img {
    margin-top: 30px;
}

.s-form-started {
    background-color: #FAFAFA;
    padding: 60px 0;
}

.s-form-started .s_title {
    max-width: 462px;
    width: 100%;
    margin-bottom: 30px;
}

.s-form-started .form-groups {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.s-form-started .form-group {
    width: calc(33.3333% - 20px);
    margin: 0 10px 25px;
}

.s-form-started .btn-wrap {
    margin-top: 30px;
}

.form-group label {
    color: #282424;
    font-size: 18px;
    line-height: 30px;
    display: block;
    margin-bottom: 10px;
}

.form-control {
    background: #FFFFFF;
    border: 1px solid #E7E1E1;
    width: 100%;
    border-radius: 4px;
    padding: 15px 20px;
    color: #877070;
    font-size: 18px;
    font-family: inherit;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #877070;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #877070;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #877070;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
    color: #877070;
}

.checkbox-item {
    display: inline-block;
}

.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    color: #282424;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 30px;
    width: 30px;
    background: #FFFFFF;
    border: 1px solid #E7E1E1;
    border-radius: 4px;
    margin-right: 20px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 11px;
    top: 7px;
    width: 8px;
    height: 12px;
    border: solid #C52033;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.s-contact {
    padding: 37px 0 0;
}

.s-contact .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.s-contact .left {
    width: calc(58% - 24px);
}

.s-contact .right {
    width: calc(42% - 24px);
}

.s-form-started.bg-white {
    background-color: #fff;
}

.s-contact .s_title {
    margin-bottom: 20px;
}

.s-contact .top-descr {
    max-width: 515px;
    width: 100%;
}

.contact-info-box {
    background: #FBFBFB;
    border-radius: 4px;
    padding: 40px;
    margin-top: 35px;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.contact-items .contact-item {
    background: #474747;
    border-radius: 4px;
    padding: 15px 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.contact-items .contact-item .icon {
    display: flex;
    margin-right: 15px;
}

.contact-items .contact-item p {
    color: #ffffff;
}

.address-container {
    border: 2px solid #F1EFEF;
    border-radius: 4px;
    padding: 22px 20px;
    margin-top: 20px;
}

.address-container strong {
    display: block;
    color: #282424;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
}

.address-container .address-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.address-container .address-items p {
    width: calc(50% - 10px);
    line-height: 28px;
}

.s-contact .right img {
    display: flex;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.s-careers {
    padding: 30px 0 50px;
}

.s-careers .top-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.s-careers .s_title {
    margin-bottom: 30px;
}

.s-careers .left {
    width: calc(52% - 10px);
}

.s-careers .right {
    width: calc(48% - 10px);
    text-align: right;
}

.s-careers .right img {
    border-radius: 4px;
}

.s-careers .top-row {
    margin-bottom: 60px;
}

.border-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.border-box li {
    border: 2px solid #F1EFEF;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 11px 15px;
    font-size: 18px;
    color: #877070;
    line-height: 30px;
    max-width: 419px;
    width: calc(50% - 20px);
}


.border-box li:first-child {
    max-width: 250px;
    width: 100%;
}

.border-box li:nth-child(2n) {
    max-width: 288px;
    width: 100%;
}

.border-box li:nth-child(3n) {
    max-width: 419px;
    width: 100%;
}

.items-list {
    margin-bottom: 25px;
}

.items-list li {
    color: #877070;
    font-size: 18px;
    line-height: 30px;
}

.btns-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.btns-wrap .btn {
    margin: 0 10px;
}

.btn.btn-transparent {
    border: 1px solid #C52033;
    border-radius: 30px;
    color: #c52033;
    background-color: transparent;
}

.btn.btn-transparent:hover {
    background-color: #c52033;
    color: #ffffff;
}

.careers-slider {
    margin-top: 40px;
    margin-bottom: 57px;
}

.s-careers .careers-slider {
    margin-top: -20px;
}

.careers-slider .slick-list {
    margin: 0 -10px;
}

.careers-slider .slide-item {
    margin: 0 10px;
}

.s-careers .two-col p {
    margin-bottom: 30px;
}

.social-items.style ul li a {
    border: 2px solid #F1EFEF;
}

.social-items.style ul li a:hover {
    background-color: #C52033;
    border-color: #C52033;
}

.social-items.style ul li a:hover svg path {
    fill: #fff;
}

.social-items.style ul li a svg path {
    fill: #C52033;
}

.s-client-case-studies {
    padding: 40px 0 10px;
}

.s-client-case-studies .top-descr {
    max-width: 515px;
    width: 100%;
    margin-top: 10px;
}

.case-studies-items {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -10px 0;
}

.case-studies-items .case-studies-item {
    width: calc(25% - 20px);
    margin: 0 10px 40px;
}

.case-studies-item .img-wrap {
    display: flex;
    margin-bottom: 20px;
}

.case-studies-item .img-wrap img {
    border-radius: 4px;
}

.case-studies-item h4 {
    color: #282424;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.case-studies-item p {
    color: #877070;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 11px;
}

.s-client-story {
    padding: 40px 0 30px;
}

.s-client-story .top-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.s-client-story .top-row .left {
    width: calc(65% - 36px);
    padding-left: 90px;
    position: relative;
}

.s-client-story .top-row .right {
    width: calc(35% - 36px);
}

.s-client-story .go-back {
    position: absolute;
    color: #282424;
    top: 10px;
    display: flex;
    align-items: center;
    left: 0;
}

.go-back:hover {
    color: #c52033;
}

.go-back:hover svg path {
    fill: #c52033;
}

.s-client-story .go-back svg {
    margin-right: 13px;
}

.s-client-story .top-row .left .s_title {
    margin-bottom: 10px;
}

.star-items {
    display: flex;
    align-items: center;
}

.star-items li {
    display: flex;
    margin-right: 10px;
}

.s-client-story .star-items {
    margin-top: 62px;
    margin-bottom: 20px;
}

.careers-slider img {
    border-radius: 4px;
}

.s-client-story .right img {
    border-radius: 4px;
}

.s-client-story .two-col img {
    border-radius: 4px;
}

.s-client-story .two-col .s_title {
    margin-bottom: 20px;
}

.s-client-story .two-col p {
    margin-bottom: 20px;
}

.wide-block {
    background-color: #FBFBFB;
    padding: 64px 0 74px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.wide-block p {
    font-size: 36px;
    line-height: 50px;
    color: #282424;
    text-align: center;
}

.new-patients {
    background: #FBFBFB;
    border-radius: 4px;
    padding: 34px;
    margin-bottom: 50px;
}

.new-patients .p-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.new-patients .p-items .p-item {
    margin: 0 10px 20px;
}

.new-patients .p-items .p-item .label {
    color: #282424;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.new-patients .p-items .p-item .count {
    border: 2px solid #F1EFEF;
    border-radius: 4px;
    padding: 15px 20px;
    color: #877070;
    font-size: 18px;
}

.new-patients .p-items .p-item .count-info {
    background: #4F4F4F;
    border-radius: 4px;
    padding: 21px 18px;
    color: #ffffff;
    font-size: 18px;
}

.s-form {
    padding: 37px 0 59px;
}

.s-form .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.s-form .container.v-center {
    align-items: center;
}

.s-form .left {
    width: calc(100% - 628px);
}

.s-form .right {
    width: 479px;
}

.s-form .form-group {
    margin-bottom: 20px;
}

.s-form .s_title {
    margin-bottom: 20px;
}

.s-form p {
    margin-bottom: 20px;
}

.label-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-form .checkbox-item {
    margin-bottom: 30px;
    margin-top: 10px;
}

.forgot-password {
    color: #c52033;
    font-size: 18px;
    margin-bottom: 10px;
}

.forgot-password:hover {
    opacity: 0.6;
}

.s-form .right img {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.s-form .two-col {
    margin-bottom: 0;
}

.s-form .two-col .col {
    width: calc(50% - 10px);
}