body {
    padding-top: 90px;
}
.header {
    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(89, 0, 10, 0.03);
    height: 90px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_right {
    display: flex;
    align-items: center;
}
.header_nav ul {
    display: flex;
    align-items: center;
}
.header_nav ul li {
    margin-right: 25px;
}
.header_nav ul li:last-child {
    margin-right: 0;
}
.header_nav ul li a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #877070;
}
.header_nav ul li a:hover {
    color: #C52033;
}
.btn {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border: 0;
    padding: 15px 20px;
    background: #C52033;
    background-size: cover;
    border-radius: 30px;
    display: inline-block;
}
.btn:hover {
    color: #C52033;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}
.sign_in_link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #C52033;
    margin-left: 68px;
    margin-right: 25px;
}
.sign_in_link:hover {
    color: #877070;
}
.s_welcome {
    background: #F9F7F7;
    padding-top: 89px;
    overflow: hidden;
}
.h1_title {
    font-weight: bold;
    font-size: 66px;
    line-height: 70px;
    color: #C52033;
}
.simple_p,
.simple_p_light {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #877070;
}
.simple_p_light {
    color: #BCAFAF;
}
.s_welcome .cols_wrpr {
    display: flex;
    flex-wrap: wrap;
}
.s_welcome .cols_wrpr .left {
    width: 50%;
    padding-bottom: 69px;
    animation: 1s slide_to_right;
}
.s_welcome .cols_wrpr .right {
    width: 50%;
    position: relative;
}
.s_welcome .h1_title {
    max-width: 462px;
}
.s_welcome_doctor {
    position: absolute;
    bottom: 0;
    right: 60px;
    z-index: 2;
    animation: 2s slide_to_left; 
}
.s_welcome_vector_element {
    position: absolute;
    left: -25px;
    bottom: 0;
    z-index: 1;
    animation: 3s slide_to_right; 
}
@keyframes slide_to_left { 
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide_to_right { 
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.s_welcome .cols_wrpr .left .h1_title {
    margin-bottom: 11px;
}
.s_welcome .cols_wrpr .left .simple_p {
    margin-bottom: 71px;
    max-width: 421px;
}
.download_form {
    display: flex;
    align-items: center;
    max-width: 524px;
    margin-bottom: 29px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}
.dwnld_form_input {
    background: #fff;
    border-radius: 4px 0px 0px 4px;
    padding: 15px 20px;
    border: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #877070;
    display: block;
    width: 100%;
    flex: 1;
}
.dwnld_form_input::placeholder {
    color: #C4C4C4;
}
.dwnld_form_btn {
    background: #C52033;
    border-radius: 0px 4px 4px 0px;
    padding: 15px 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    border: 0;
    background: #C52033 url(../img/btn_zebra_bg.jpg) center no-repeat;
    background-position: 0px 70px;
    background-size: cover;
}
.dwnld_form_btn:hover {
    background-position: 0px 0px;
}
.s_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #282424;
}
.s_intro {
    margin-bottom: 50px;
}
.s_intro .s_title {
    max-width: 638px;
    margin-bottom: 10px;
}
.s_intro .simple_p {
    max-width: 638px;
}
.s_what_leading {
    padding-top: 60px;
}
.s_what_leading .s_intro .s_title {
    max-width: 350px;
}
.s_what_leading .s_intro .simple_p  {
    max-width: 524px;
}
.video_slider .slick-list {
    margin: 0 -10px;
}
.video_item {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
}
.video_slider .video_item {
    margin: 0 10px;
}
.video_item::before {
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    left: 0;
    top: 0;
    position: absolute;
}
.video_item .item_title {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 12px;
    left: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}
.video_item .overlay_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play_btn {
    width: 51px;
    height: 51px;
    display: block;
    cursor: pointer;
    background: url(../img/play_btn.svg) no-repeat center;
    background-size: contain;
}
.video_item .play_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.video_item .play_btn:hover {
    transform: translate(-50%, -50%) scale(1.2);
}
.slick-dots {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.slider_dot {
    width: 8px;
    height: 8px;
    display: block;
    background: #EAEAEA;
    border-radius: 15px;
    margin: 0 6.5px;
    transition: 0.15s all ease-in-out;
    cursor: pointer;
}
.slider_dot:hover {
    background: #C52033;
}
.slick-active .slider_dot {
    width: 30px;
}
.slider_arrow {
    position: absolute;
    top: 50%;
    margin-top: -23.5px;
    display: block;
    width: 47px;
    height: 47px;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    z-index: 3;
}
.slider_arrow:hover {
    opacity: 0.6;
    transform: scale(1.1);
}
.arrow_prev {
    left: -24px;
    background: #fff url(../img/slider_arrow_left.svg) no-repeat center;
}
.arrow_next {
    right: -24px;
    background: #fff url(../img/slider_arrow_right.svg) no-repeat center;
}
.video_slider .slider_arrow {
    margin-top: -40px;
}
.s_intro_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn_zebra {
    background: #C52033 url(../img/btn_zebra_bg.jpg) repeat-x center;
    background-size: cover;
}
.btn_zebra:hover {
    color: #fff;
    background: #C52033 url(../img/btn_zebra_bg.jpg) center;
    background-position: 100px 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1)
}
.s_patient_journey {
    padding-top: 82px;
}
.card_icon_wrpr {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.card_icon_item {
    width: calc(20% - 20px);
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px;
    padding-right: 19px;
    position: relative;
}
.card_icon_item .icon_wrpr {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 19px;
}
.card_icon_item .item_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.card_icon_item .item_header_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
}
.card_icon_item .item_header.red .icon_wrpr {
    background: #C52033;
}
.card_icon_item .item_header.blue .icon_wrpr {
    background: #1A84E7;
}
.card_icon_item .item_header.purple .icon_wrpr {
    background: #8D1AE7;
}
.card_icon_item .item_header.pink .icon_wrpr {
    background: #FC22A5;
}
.card_icon_item .item_header.turquoise .icon_wrpr {
    background: #1EDDC6;
}
.card_icon_item .item_header.red .item_header_title {
    color: #C52033;
}
.card_icon_item .item_header.blue .item_header_title {
    color: #1A84E7;
}
.card_icon_item .item_header.purple .item_header_title {
    color: #8D1AE7;
}
.card_icon_item .item_header.pink .item_header_title {
    color: #FC22A5;
}
.card_icon_item .item_header.turquoise .item_header_title {
    color: #1EDDC6;
}
.card_icon_item .text_wrpr .item_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #877070;
}
.card_icon_item .text_wrpr p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #877070;
}
.s_patient_journey .after_cards_text {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.s_patient_journey .after_cards_text span {
    width: calc(40% - 10px);
    margin-left: auto;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #DBD5D5;
}
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(1):after,
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(2):after, 
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(3):after, 
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(4):after,
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(4):before  {
    content: "";
    display: block;
    position: absolute;
    right: -28px;
    top: 50%;
    margin-top: -17.5px;
    width: 35px;
    height: 35px;
    background: #fff url(../img/simple_arrow_right.svg) no-repeat center;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    z-index: 3;
}
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(4):after {
    margin-top: -35px
}
.s_patient_journey .card_icon_wrpr .card_icon_item:nth-child(4):before {
    transform: rotate(180deg);
    margin-top: 10px;
}
.s_proven_dental {
    padding-top: 115px;
    padding-bottom: 100px;
    background: url(../img/proven_dental_bg.svg) no-repeat;
    background-position: 85% 32px;
}
.light_list {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #877070;
}
.light_list li {
    position: relative;
    padding-left: 9px;
}
.light_list li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 9px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #877070;
}
.sidebar_form {
    padding: 30px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    background: url(../img/sidebar_form_bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}
.sidebar_form .sidebar_form_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 30px;
}
.form_group {
    margin-bottom: 20px;
}
.input_text {
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 15px 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    border: 0;
}
.input_text::placeholder {
    color: #BEB8B8;
}
.btn_black {
    background: #1F1F1F;
}
.checkbox_btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}
.checkbox_btn input {
    display: none;
}
.checkbox_btn .checkbox_check {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 20px;
    position: relative;
}
.checkbox_btn input:checked~.checkbox_check:after {
    position: absolute;
    left: 5px;
    top: 7px;
    display: block;
    content: "";
    width: 20px;
    height: 10px;
    border-left: 3px solid #C52033;
    border-bottom: 3px solid #C52033;
    transform: rotate(-45deg);
}
.mob_menu_btn {
    display: none;
}
body.menu_open {
    overflow: hidden;
}
.for_mob {
    display: none;
}
.s_with_video .btn_wrpr {
    display: flex;
    align-items: center;
}
.s_with_video .btn_wrpr .btn {
    white-space: nowrap;
}
.s_with_video .btn_wrpr .grey_text {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #DBD5D5;
    margin-bottom: 0;
    margin-left: 30px;
}
.s_with_video {
    padding: 37px 0 41px;
}
.dark_cards_wrpr {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.dark_card_item {
    min-height: 402px;
    background: #474747;
    border-radius: 4px;
    width: calc(50% - 20px);
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.dark_card_item .left {
    padding-left: 40px;
    width: 55%;
}
.dark_card_item .right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 45%;
}
.dark_card_item .right.pad_rght {
    padding-right: 35px;
}
.dark_card_item .item_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #fff;
    margin: 20px 0;
}
.s_dark_cards {
    padding-bottom: 63px;
}
.s_dark_cards.dentl_marktng_page,
.s_dark_cards.direct_mail_page {
    background-image: url(../img/client-case-bg.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
.s_dark_cards.dentl_marktng_page .s_intro .s_title {
    max-width: 400px;
}
.s_dark_cards.direct_mail_page .s_intro .s_title {
    max-width: 450px;
}
.s_blog {
    padding: 40px 0 60px;
}
.blog_category_wrpr {
    margin-bottom: 50px;
}
.blog_category_wrpr .s_title {
    margin-bottom: 21px;
}
.blog_items_wrpr {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.blog_item {
    border: 1px solid #F1EFEF;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    width: calc(25% - 20px);
}
.blog_item .img_wrpr {
    display: flex;
    width: 100%;
    padding-top: 65.4%;
    position: relative;
    overflow: hidden;
}
.blog_item .img_wrpr img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.3s all ease-in-out;
}
.blog_item .img_wrpr:hover img {
    transform: scale(1.2);
}
.blog_item .item_bottom_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 255px;
}
.blog_item .item_title {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #282424;
    margin-bottom: 10px;
}
.blog_item .item_title:hover {
    color: #C52033;
}
.blog_item_soc {
    display: flex;
    align-items: center;
    margin-top: auto;
}
.blog_item_soc li {
    margin-right: 10px;
}
.blog_item_soc li:last-child {
    margin-right: 0;
}
.blog_item_soc a {
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid #F1EFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
}
.blog_item_soc a svg path {
    fill: #C52033;
}
.blog_item_soc a:hover {
    background: #C52033;
    border-color: #C52033;
}
.blog_item_soc a:hover svg path {
    fill: #fff;
}
.blog_item .author_date_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.blog_item .author_date_info span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #877070;
}
.blog_item .author_date_info span b {
    font-weight: 600;
}
.search_filter_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search_filter_line .s_title {
    margin-bottom: 0;
}
.search_filter_line .inputs_wrpr {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
    margin-left: 38px;
}
.search_input_wrpr {
    width: 100%;
}
.search_input_wrpr .form-control {
    padding-left: 50px;
    background: url(../img/search_icon.svg) no-repeat;
    background-position: 20px 15px;
}
.search_filter_line .search_input_wrpr  {
    margin-right: 20px;
}
.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #E7E1E1;
    width: 100%;
    border-radius: 4px;
    padding: 15px 20px;
    color: #877070;
    font-size: 18px;
    font-family: inherit;
    outline: none;
    background: #fff url(../img/arrow_down.svg) no-repeat;
    background-position: calc(100% - 25px) 24px;
    display: block;
    width: 100%;
}
.search_filter_line .inputs_wrpr .select {
    max-width: 169px;
}
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
}
.pagination ul {
    display: flex;
    align-items: center;
}
.pagination ul li {
    margin-left: 15px;
}
.pagination ul li .last_paging {
    margin-left: 15px
}
.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 49px;
    min-height: 49px;
    border: 1px solid #C52033;
    color: #C52033;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-radius: 35px;
}
.pagination a.btn_w_arrow {
    padding: 0 20px;
}
.prev_paging svg {
    margin-right: 13px;
    margin-top: -2px;
}
.next_paging svg {
    margin-left: 15px;
    margin-top: -2px;
}
.pagination a.red {
    background: #C52033;
    color: #fff;
}
.pagination a.red svg path {
    fill: #fff;
}
.pagination a:hover {
    background: #C52033;
    color: #fff;
}
.pagination a:hover svg path {
    fill: #fff;
}
.pagination a.red:hover {
    background: #fff;
    color: #C52033;
}
.pagination a.red:hover svg path {
    fill: #C52033;
}
.intro_w_back {
    padding: 39px 0;
    display: flex;
    align-items: flex-start;
}
.back_btn {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #282424;
    display: flex;
    align-items: center;
}
.back_btn svg {
    margin-right: 13px;
    margin-top: -2px;
}
.back_btn svg path {
    fill: #282424;
}
.back_btn:hover {
    color: #C52033;
}
.back_btn:hover svg path {
    fill: #C52033;
}
.post_author_info {
    display: flex;
    align-items: center;
}
.post_author_info .img_wrpr {
    min-width: 44px;
    min-height: 44px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
}
.post_author_info .img_wrpr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post_author_info .text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #877070;
}
.intro_w_back .back_btn {
    margin-top: 11px;
    width: 100px;
}
.intro_w_back .s_title {
    margin-top: 21px;
}
.wide_img_wrpr {
    width: 100%;
    margin-bottom: 60px;
}
.wide_img_wrpr img {
    width: 100%;
}
.s_grey_outro {
    background: #FBFBFB;
    padding: 58px 0;
}
.s_grey_outro h3 {
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    color: #282424;
    text-align: center;
    max-width: 912px;
    margin: 0 auto;
}
.two-col.img_bottom {
    align-items: flex-end;
}
.blog_post_content img {
    border-radius: 4px;
}
.blog_post_content .two-col .col p {
    margin-bottom: 30px;
}
.blog_post_content .two-col .col p:last-child {
    margin-bottom: 0;
}
.blog_post_content .two-col .s_title {
    margin-bottom: 20px;
}
.blog_post_content {
    margin-bottom: 65px;
}
.title_w_back {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.title_w_back .back_btn {
    margin-top: 10px;
}
.s_intro .title_w_back .s_title {
    margin-bottom: 0;
    margin-left: 30px;
}
.flex_start .container {
    align-items: flex-start;
}
.text_box {
    margin-top: 60px;
}
.text_box .s_title {
    margin-bottom: 20px;
}
.text_box .s_title:not(:first-child) {
    padding-top: 30px;
}
.imgs_slider .slider_arrow {
    margin-top: -31.5px;
}
.s-experts-about p.mb_0 {
    margin-bottom: 0;
}
.imgs_slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ie .box_text {
    display: none;
}
.ie .dark_card_item {
    overflow: hidden;
}

.ie .marketing_team .row,
.ie .marketing_consultants .row,
.ie .account_success_managers .row,
.ie .about_our_team .row {
    flex-wrap: wrap;
}
.ie .pagination a.btn_w_arrow,
.ie .pagination a {
    padding-top: 14px;
}
.ie .blog_item .item_bottom_content {
    position: relative;
}
.ie .blog_item_soc {
    position: absolute;
    bottom: 20px;
}
.ie .s_intro .title_w_back .s_title {
    flex: 1;
}