@media only screen and (max-width: 768px) {

    .ie .row {
        flex-wrap: wrap;
    }

    .about_us .wrap_image {
        margin-top: 30px;
    }

    .environmental_commitment .wrap_small_img {
        margin-top: 30px;
    }

    .card .card-body {
        padding-bottom: 15px;
    }


    .card.card_2 {
        margin-top: 0;
    }

    .wrap_small_img {
        margin: 30px 0;
    }

    .environmental_commitment {
        margin: 30px 0;
    }

    .module_title .s_title {
        margin-bottom: 10px;
    }

    .navbar_on {
        padding-bottom: 60px;
    }

    .navbar {
        top: auto;
        bottom: 0;
        width: 100%;
        right: 0;
        transform: none;
        background: #fff;
        box-shadow: 7px 4px 7px rgba(89, 0, 10, 0.03);
        height: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .box_text {
        position: static;
        writing-mode: inherit;
        transform: none;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .navbar .nav-menu {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .navbar .nav-menu li .dot:before, .navbar .nav-menu li .dot:after {
        content: none;
    }

    .navbar .nav-menu li .dot {
        width: 10px;
        height: 10px;
        background: #877070;
        border-radius: 50%;
        display: block;
        padding: 0;
    }

    .navbar .nav-menu li {
        margin-right: 20px;
    }

    .navbar .nav-menu li:last-child {
        margin-right: 0;
    }

    .navbar .nav-menu li .dot.active {
        width: 10px;
        height: 10px;
        background: transparent;
        border: 1px solid #877070;
    }
}